body {
  font-size: 10px !important;
  font-family: sans-serif;
}
label,
span,
input[type="text"],
input[type="number"],
input[type='date'],
select {
  height: 24px !important;
  font-size: 10px !important;
}
.input-group {
  margin: 0;
}
nav {
  min-height: 24px !important;
  margin-bottom: 5px !important;
}
nav .navbar-text {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.navbar-brand {
  padding: 2px 10px !important;
}
.btn {
  font-size: 9.5px !important;
  padding: 4.5px 12px !important;
}
h1,
h2 {
  font-size: 12px !important;
}
span.btn {
  padding: 4px 8px !important;
  top: 0px;
}
label {
  padding: 5px 12px !important;
}
.left {
  float: left;
}
.right {
  float: right;
}
.close-puncts {
  display: none !important;
}
.input-group span {
  font-size: 9px;
}
.uib-datepicker-popup td {
  padding: 0 !important;
}
.uib-datepicker-popup .btn {
  margin: 0 !important;
  padding: 5px 10px;
  font-size: 12px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.form-group {
  zoom: 1;
}
.form-group:after,
.form-group:before {
  content: "";
  display: table;
}
.form-group:after {
  clear: both;
}
.form-inline {
  zoom: 1;
  margin-bottom: 10px;
}
.form-inline:after,
.form-inline:before {
  content: "";
  display: table;
}
.form-inline:after {
  clear: both;
}
.no-padding {
  padding: 0 !important;
}
.navbar-brand {
  float: right;
}
.punct-item {
  border: 2px solid #00628b;
  border-radius: 4px;
  overflow: hidden;
}
.punct-item table {
  border: none;
}
.checkbox {
  margin-left: 10px;
}
.checkbox label {
  background-color: #fff !important;
  color: #000 !important;
  border: none !important;
}
input[type='checkbox'] {
  margin: 0 !important;
  margin-left: -14px !important;
}
table th {
  vertical-align: middle !important;
  padding: 4px !important;
}
table td {
  padding: 4px !important;
}
table thead tr {
  background-color: #6e7623;
}
table thead th {
  background-color: #6e7623;
  color: #fff;
  text-align: center;
}
article {
  margin-bottom: 2px;
  margin-top: 2px;
}
.comment {
  border: 1px solid #808080;
  border-radius: 4px;
}
.comment p {
  padding: 10px 0;
  background-color: #d3d3d3;
}
.comment textarea {
  margin-bottom: 10px;
}
.summary-points {
  border: 1px solid #ffc0cb;
  border-radius: 4px;
}
.summary-points >p {
  padding: 10px 0;
  background-color: #d3d3d3;
}
.summary-points >p:nth-child(2) {
  background-color: #efdc05;
  margin-top: 30px;
}
.summary-points button {
  margin: 10px 10px;
}
label {
  background-color: #00628b;
  border-color: #00628b;
  color: #fff;
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.btn-group .btn {
  margin: 0 0px;
}
.btn {
  margin: 0 10px;
}
.calc-offer-out {
  border: 1px solid #00628b;
  border-radius: 4px;
}
.calc-offer h2,
.summary-info h2,
.calc-offer-out h2 {
  overflow: hidden;
  padding: 4px;
  background-color: #008000;
  color: #fff;
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 4px;
  border-bottom: 1px solid #000;
}
.summary-info {
  overflow: hidden;
  border-radius: 4px;
}
.summary-info .summary-info-item {
  margin: 10px 10px;
  border: 1px solid #008000;
  overflow: hidden;
}
.summary-info .summary-info-item h2 {
  margin-top: 0;
}
.offers-retailers-item {
  border: 1px solid #f00;
  overflow: hidden;
  border-radius: 4px;
}
.calc-offer span.btn,
.calc-offer-out span.btn {
  top: 1px;
}
.calc-offer p,
.calc-offer-out p {
  font-size: 12px !important;
}
.buttons {
  margin-bottom: 4px;
}
.calc-offer {
  overflow: hidden;
  width: 99%;
  margin: 0 0.5%;
}
.offers-retailers {
  overflow: hidden;
  width: 99%;
  margin: 10px 0.5%;
}
.offers-retailers-item {
  margin: 1px 5px;
}
.out-calc-container .offers-retailers {
  margin: 0;
  width: 100%;
}
.color-blue {
  background-color: #00628b;
}
.punct-item {
  border-color: #337ab7;
}
.punct-item nav {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}
.punct-item .button-color {
  background-color: #72b095;
  border-color: #72b095;
  color: #fff;
}
.punct-item .fields-color {
  background-color: #00628b;
  color: #fff;
}
.punct-item .showhide-color {
  background-color: #00628b;
  color: #fff;
}
.calc-offer {
  border: 2px solid #65754d;
  border-radius: 4px;
}
.calc-offer nav {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}
.calc-offer .button-color {
  background-color: #72b095;
  color: #fff;
}
.calc-offer .fields-color {
  background-color: #00628b;
  color: #fff;
}
.calc-offer .showhide-color {
  background-color: #00628b;
  color: #fff;
}
.offers-retailers {
  border: 2px solid #d13f31;
  border-radius: 4px;
}
.offers-retailers nav {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}
.offers-retailers .button-color {
  background-color: #72b095;
  border-color: #72b095;
  color: #fff;
}
.offers-retailers .fields-color {
  background-color: #00628b;
  color: #fff;
}
.offers-retailers .showhide-color {
  background-color: #00628b;
  color: #fff;
}
.offers-retailers .button-color-calculate {
  background-color: #2d6c6c;
  border-color: #2d6c6c;
  color: #fff;
}
.summary-info {
  border: 2px solid #2d6c6c;
  border-radius: 4px;
}
.summary-info nav {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}
.summary-info .button-color {
  background-color: #2d6c6c;
  border-color: #2d6c6c;
  color: #fff;
}
.summary-info .fields-color {
  background-color: #2d6c6c;
  color: #fff;
}
.summary-info .showhide-color {
  background-color: #2d6c6c;
  color: #fff;
}
.calc-offer-out {
  border: 2px solid #00628b;
  border-radius: 4px;
}
.calc-offer-out nav {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}
.calc-offer-out .button-color {
  background-color: #00628b;
  color: #fff;
}
.calc-offer-out .fields-color {
  background-color: #00628b;
  color: #fff;
}
.calc-offer-out .showhide-color {
  background-color: #00628b;
  color: #fff;
}
.btn-save {
  background-color: #2d6c6c;
  border-color: #2d6c6c;
  color: #fff;
}
.btn-addSeller {
  background-color: #72b095;
  border-color: #72b095;
  color: #fff;
}
