body {
  font-size: 10px;
  font-family: sans-serif;
  margin: 50px 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.panel-top {
  overflow: hidden;
  margin-bottom: 20px;
}
.count {
  line-height: 32px;
  font-size: 20px;
  padding: 0;
  margin: 0;
}
.pagination {
  margin: 0;
  float: right;
}
