body {
  margin: 1% 3% !important;
  padding: 0;
}
.left {
  float: left;
}
.right {
  float: right;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.form-group {
  zoom: 1;
}
.form-group:after,
.form-group:before {
  content: "";
  display: table;
}
.form-group:after {
  clear: both;
}
.form-inline {
  zoom: 1;
  margin-bottom: 10px;
}
.form-inline:after,
.form-inline:before {
  content: "";
  display: table;
}
.form-inline:after {
  clear: both;
}
.no-padding {
  padding: 0 !important;
}
.navbar-brand {
  float: right;
}
.punct-item {
  border: 0.5px solid #008000;
  border-radius: 4px;
  overflow: hidden;
}
table th {
  vertical-align: middle !important;
}
table thead tr {
  background-color: #6e7623;
}
table thead th {
  background-color: #6e7623;
  color: #fff;
  text-align: center;
}
article {
  margin-bottom: 10px;
  margin-top: 10px;
}
.comment {
  border: 1px solid #f00;
  border-radius: 4px;
}
.comment p {
  padding: 10px 0;
  background-color: #d3d3d3;
}
.comment textarea {
  margin-bottom: 10px;
}
.summary-points {
  border: 1px solid #ffc0cb;
  border-radius: 4px;
}
.summary-points >p {
  padding: 10px 0;
  background-color: #d3d3d3;
}
.summary-points >p:nth-child(2) {
  background-color: #efdc05;
  margin-top: 30px;
}
.summary-points button {
  margin: 10px 10px;
}
label {
  background-color: #008000;
  color: #fff;
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.punct-item label {
  background-color: #6e7623;
  color: #fff;
}
.btn-group .btn {
  margin: 0 0px;
}
.btn {
  margin: 0 10px;
}
.calc-offer-out {
  border: 2px solid #808080;
  border-radius: 4px;
}
.calc-offer h2,
.summary-info h2,
.calc-offer-out h2 {
  overflow: hidden;
  padding: 10px;
  background-color: #008000;
  color: #fff;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-bottom: 3px solid #000;
}
.summary-info {
  border: 2px solid #808080;
  overflow: hidden;
  border-radius: 4px;
}
.summary-info .summary-info-item {
  margin: 10px 10px;
  border: 3px solid #008000;
  overflow: hidden;
}
.summary-info .summary-info-item h2 {
  margin-top: 0;
  background-color: #90ee90;
}
.buttons {
  margin-bottom: 10px;
}
.offers-retailers-item {
  border: 2px solid #f00;
  overflow: hidden;
  border-radius: 4px;
}
